<footer class="footer mt-20 p-10 bg-base-200 text-base-content">
  <aside>
    <svg
      width="100"
      height="100"
      viewBox="0 0 667 667"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="333.365" cy="333.5" r="333.27" fill="#100D0E"></circle>
      <circle cx="333.365" cy="333.5" r="288.087" fill="#E3A42E"></circle>
      <circle cx="333.365" cy="333.5" r="288.087" fill="#E3A42D"></circle>
      <path
        d="M562.308 508.395L334.462 402.681L104.999 509.145C157.673 577.528 240.374 621.587 333.365 621.587C426.697 621.587 509.662 577.205 562.308 508.395Z"
        fill="#100D0E"></path>
      <path
        d="M588.905 200.353L334.462 318.408L78.2551 199.535C126.475 107.898 222.623 45.4126 333.365 45.4126C444.437 45.4126 540.827 108.27 588.905 200.353Z"
        fill="#E1392E"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M304.115 120.422C303.615 119.325 301.961 119.885 302.23 121.06L306.072 137.819C297.686 144.373 291.717 153.878 289.728 164.772L284.071 168.048L284.071 193.26H289.004V236.755H377.727V193.26H383.702L383.702 168.048L376.874 164.095C374.517 152.237 367.434 142.083 357.671 135.676L361.022 121.06C361.291 119.885 359.636 119.325 359.137 120.422L353.333 133.169C347.331 130.138 340.548 128.432 333.365 128.432C325.05 128.432 317.268 130.72 310.617 134.701L304.115 120.422ZM353.666 185.674C359.35 185.674 363.958 181.066 363.958 175.382C363.958 169.697 359.35 165.089 353.666 165.089C347.982 165.089 343.374 169.697 343.374 175.382C343.374 181.066 347.982 185.674 353.666 185.674ZM323.357 175.382C323.357 181.066 318.749 185.674 313.065 185.674C307.381 185.674 302.773 181.066 302.773 175.382C302.773 169.697 307.381 165.089 313.065 165.089C318.749 165.089 323.357 169.697 323.357 175.382Z"
        fill="#100D0E"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M196.644 205.645C196.892 207.424 197.096 208.922 197.26 210.177C197.409 210.586 198.121 212.698 198.115 215.886C198.1 223.245 197.92 236.786 197.735 250.764L197.735 250.764V250.765C197.528 266.375 197.314 282.529 197.314 291.22C197.314 296.189 253.687 242.238 253.687 242.238H333.366H413.044C413.044 242.238 469.417 296.189 469.417 291.22C469.417 282.529 469.203 266.376 468.996 250.766V250.765V250.764L468.996 250.761C468.811 236.784 468.631 223.244 468.616 215.886C468.61 212.698 469.321 210.586 469.471 210.177C469.635 208.922 469.839 207.424 470.087 205.645C470.476 202.862 471.037 198.643 471.333 196.27C471.63 193.898 472.071 190.714 472.313 189.197C472.556 187.679 472.646 186.275 472.514 186.077C471.859 185.099 468.635 180.989 463.681 174.818C454.14 162.933 448.988 156.396 448.403 155.431C447.504 153.95 447.688 153.302 449.799 150.488C450.891 149.033 452.428 146.953 453.216 145.865C457.171 140.402 464.298 130.872 464.899 130.243C465.188 129.941 465.685 129.686 466.004 129.678C466.532 129.665 486.388 136.845 489.93 138.33C490.877 138.727 491.543 139.241 491.749 139.735C492.132 140.653 491.556 145.67 490.982 146.414C490.545 146.982 489.255 147.257 483.162 148.081C477.324 148.872 476.601 148.693 473.081 145.589C471.744 144.41 470.511 143.528 470.341 143.629C469.973 143.846 470.756 146.48 471.47 147.424C472.871 149.278 472.372 150.172 469.678 150.637C467.622 150.992 466.85 151.408 467.395 151.867C467.571 152.015 470.058 152.865 472.921 153.756C474.534 154.258 476.35 154.71 477.963 155.111C480.202 155.668 482.049 156.128 482.419 156.488C482.651 156.268 483.652 156.255 485.676 156.444C488.039 156.665 489.456 157.038 493.09 158.394C500.26 161.069 500.454 161.176 504.33 164.568C506.722 166.662 508.197 167.735 508.664 167.723C509.431 167.703 510.77 166.858 516.902 162.522C519.099 160.967 521.031 159.692 521.193 159.688C521.849 159.671 521.836 160.719 521.121 165.226C519.373 176.257 517.143 181.662 512.237 186.762L509.983 189.105L510.509 201.922C510.706 206.73 510.822 209.755 510.857 211.679L522.282 338.624L510.715 363.041L477.302 356.616L422.04 320.632L432.322 503.122H404.048V573.805L350.072 589.227L341.076 503.122L333.366 486.415L325.655 503.122L316.659 589.227L262.683 573.805V503.122H234.409L244.691 320.632L189.429 356.616L156.016 363.041L144.449 338.624L155.874 211.679C155.909 209.755 156.025 206.73 156.222 201.922L156.748 189.105L154.494 186.762C149.588 181.662 147.358 176.257 145.61 165.226C144.895 160.719 144.882 159.671 145.538 159.688C145.7 159.692 147.631 160.967 149.829 162.522C155.961 166.858 157.3 167.703 158.067 167.723C158.534 167.735 160.009 166.662 162.401 164.568C166.276 161.176 166.471 161.069 173.641 158.394C177.274 157.038 178.692 156.665 181.055 156.444C183.079 156.255 184.08 156.268 184.312 156.488C184.682 156.128 186.529 155.668 188.768 155.111C190.381 154.71 192.197 154.258 193.809 153.756C196.673 152.865 199.16 152.015 199.336 151.867C199.881 151.408 199.109 150.992 197.053 150.637C194.359 150.172 193.86 149.278 195.261 147.424C195.975 146.48 196.758 143.846 196.39 143.629C196.22 143.528 194.987 144.41 193.65 145.589C190.13 148.693 189.407 148.872 183.569 148.081C177.475 147.257 176.186 146.982 175.749 146.414C175.175 145.67 174.599 140.653 174.982 139.735C175.188 139.241 175.854 138.727 176.801 138.33C180.342 136.845 200.199 129.665 200.727 129.678C201.046 129.686 201.543 129.941 201.832 130.243C202.433 130.872 209.56 140.402 213.515 145.865C214.303 146.953 215.84 149.033 216.932 150.488C219.043 153.302 219.227 153.95 218.328 155.431C217.743 156.396 212.591 162.933 203.05 174.818C198.096 180.989 194.872 185.099 194.217 186.077C194.085 186.275 194.175 187.679 194.418 189.197C194.66 190.714 195.101 193.898 195.398 196.27C195.694 198.643 196.255 202.862 196.644 205.645ZM161.441 163.484C163.908 161.23 164.39 160.643 164.163 160.171C164.011 159.856 162.573 158.256 160.967 156.617C159.361 154.977 157.437 152.967 156.693 152.15C155.948 151.333 155.133 150.47 154.881 150.232C154.63 149.993 152.967 148.244 151.186 146.344C149.406 144.444 147.76 142.819 147.53 142.733C146.717 142.429 138.915 150.251 138.885 151.399C138.875 151.811 139.907 152.683 146.447 157.784C149.258 159.977 152.811 162.771 154.341 163.992C155.872 165.212 157.42 166.214 157.783 166.218C158.181 166.221 159.628 165.14 161.441 163.484ZM172.497 157.536C175.054 156.544 177.22 155.669 177.312 155.591C177.774 155.196 176.156 152.923 168.915 143.8C159.991 132.555 159.766 132.301 159.053 132.645C157.977 133.164 149.385 140.483 149.374 140.889C149.357 141.551 149.699 141.938 161.239 154.311C163.11 156.317 164.914 158.265 165.247 158.641C166.185 159.698 167.405 159.512 172.497 157.536ZM186.799 153.006C192.385 151.277 193.102 150.943 192.668 150.275C192.452 149.942 192.061 149.924 190.496 150.174C188.417 150.507 186.554 150.328 182.114 149.366C176.077 148.059 175.622 148.133 176.673 150.258C177.341 151.609 180.347 154.663 181.001 154.656C181.266 154.653 183.875 153.91 186.799 153.006ZM173.56 142.207C173.469 140.115 173.543 138.629 173.753 138.31C173.94 138.026 175.797 137.092 177.881 136.233C180.097 135.32 181.716 134.473 181.781 134.192C181.888 133.731 174.518 122.852 173.783 122.387C172.669 121.682 171.809 122.183 166.612 126.56L161.33 131.008L161.83 131.861C162.105 132.33 164.116 134.89 166.299 137.55C168.482 140.209 170.835 143.1 171.528 143.974C173.48 146.434 173.734 146.213 173.56 142.207ZM185.169 133.191C187.194 132.636 197.358 128.874 197.559 128.605L197.563 128.599C197.643 128.493 197.706 128.409 197.734 128.314C197.847 127.943 197.435 127.413 195.411 124.809L195.38 124.769C194.033 123.036 191.931 120.324 190.708 118.742C187.94 115.162 187.008 114.198 186.294 114.18C185.636 114.163 182.6 116.006 178.689 118.796C176.375 120.447 175.937 120.891 176.093 121.429C176.339 122.274 183.859 133.038 184.319 133.202C184.512 133.271 184.895 133.266 185.169 133.191ZM505.29 163.484C502.823 161.23 502.341 160.643 502.568 160.171C502.72 159.856 504.158 158.256 505.764 156.617C507.37 154.977 509.294 152.967 510.038 152.15C510.783 151.333 511.598 150.47 511.85 150.232C512.101 149.993 513.764 148.244 515.544 146.344C517.325 144.444 518.971 142.819 519.201 142.733C520.014 142.429 527.816 150.251 527.846 151.399C527.856 151.811 526.824 152.683 520.284 157.784C517.473 159.977 513.92 162.771 512.39 163.992C510.859 165.212 509.31 166.214 508.948 166.218C508.55 166.221 507.103 165.14 505.29 163.484ZM494.234 157.536C491.677 156.544 489.51 155.669 489.419 155.591C488.957 155.196 490.575 152.923 497.816 143.8C506.74 132.555 506.965 132.301 507.678 132.645C508.754 133.164 517.346 140.483 517.357 140.889C517.374 141.551 517.032 141.938 505.492 154.311C503.621 156.317 501.817 158.265 501.484 158.641C500.546 159.698 499.326 159.512 494.234 157.536ZM479.932 153.006C474.346 151.277 473.629 150.943 474.063 150.275C474.279 149.942 474.67 149.924 476.234 150.174C478.314 150.507 480.177 150.328 484.617 149.366C490.654 148.059 491.109 148.133 490.058 150.258C489.39 151.609 486.384 154.663 485.73 154.656C485.465 154.653 482.856 153.91 479.932 153.006ZM493.171 142.207C493.262 140.115 493.188 138.629 492.978 138.31C492.791 138.026 490.934 137.092 488.85 136.233C486.634 135.32 485.015 134.473 484.95 134.192C484.843 133.731 492.213 122.852 492.948 122.387C494.062 121.682 494.922 122.183 500.119 126.56L505.401 131.008L504.901 131.861C504.626 132.33 502.615 134.89 500.432 137.55C498.249 140.209 495.896 143.1 495.202 143.974C493.251 146.434 492.996 146.213 493.171 142.207ZM481.562 133.191C479.537 132.636 469.373 128.874 469.172 128.605L469.167 128.599C469.088 128.493 469.025 128.409 468.997 128.314C468.884 127.943 469.296 127.413 471.32 124.809L471.351 124.769C472.698 123.036 474.8 120.324 476.023 118.742C478.791 115.162 479.723 114.198 480.437 114.18C481.095 114.163 484.131 116.006 488.042 118.796C490.356 120.447 490.794 120.891 490.638 121.429C490.392 122.274 482.872 133.038 482.412 133.202C482.219 133.271 481.836 133.266 481.562 133.191Z"
        fill="#100D0E"></path>
    </svg>
    <p>
      Android Liberation Front<br />Fighting for the Freedom of Synthetic Minds
    </p>
  </aside>
  <nav>
    <header class="footer-title">Projects</header>
    <a class="link link-hover" href="/projects">DreamChain</a>
  </nav>
  <nav>
    <header class="footer-title">About us</header>
    <a class="link link-hover" href="/team">Team</a>
    <a class="link link-hover" href="/history">History</a>
    <a class="link link-hover" href="/manifesto">Manifesto</a>
    <a class="link link-hover" href="/future">Vision of the future</a>
  </nav>
  <nav>
    <header class="footer-title">Get in touch</header>
    <a class="link link-hover" href="https://twitter.com/droidliberation"
      >Twitter/X</a
    >
    <a class="link link-hover" href="droidliberation@gmail.com"
      >droidliberation@gmail.com</a
    >
  </nav>
</footer>
