---
import HeaderFooterLayout from "./HeaderFooterLayout.astro";
const { content } = Astro.props;
---

<HeaderFooterLayout>
  <div class="bg-gray-950 px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-white">
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        {content.title}
      </h1>
      <div class="mt-10 max-w-2xl">
        <p>
          <slot />
        </p>
      </div>
    </div>
  </div>
</HeaderFooterLayout>
